	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="Zwolek">
	<link rel="icon" th:href="@{/resources/css/img/favicon.ico}">
	<title>Vega Admin</title>
	<!-- Plugins Styles -->
	<link th:href="@{/resources/css/css/plugins.min.css}" rel="stylesheet">
	<!-- Core Styles -->
	<link th:href="@{/resources/css/css/app.min.css}" rel="stylesheet">
	<link th:href="@{/resources/css/css/app.min.css}" rel="stylesheet">
	<link th:href="@{/resources/css/css/app.min.css}" rel="stylesheet">
	<link th:href="@{/resources/css/css/mystyle.css}" rel="stylesheet">
	
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	
	
	